*{
    margin:0;
    border: border-box;
   }/* styling navlist */
   body{
   background-color: #E9F1FA;
   }
 #navlist {

    background-color: #00ABE4;
    position: absolute;
    width: 100%;
    height: 53px;


}

/* styling navlist anchor element */
#navlist a {
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    margin: 7px;
}
.recentSearches a {

    display: block;
    color: #c5d50b;

    padding: 12px;
    text-decoration: none;
    font-size: 15px;

}

.navlist-right{
    float:right;
    display: flex;
}

/* hover effect of navlist anchor element */
#navlist a:hover {
    background-color: #397AF8;
    color: red;
}

/* styling search bar */
.search input[type=text]{
    width:450px;
    height: 35px;
    border-radius:15px;
    border: none;

}

.search{
    margin:7;
}


.search input[type=text]::placeholder {
    color: rgb(117, 114, 114);
    font-size: 15px;
    font-style: normal;
}
     /* styling the input text
     .search input[type=text] {
        color: blue;
    } */
.search button{
    background-color: #00ABE4;
    color: #fff;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 250px;
    border: none;
    cursor: pointer;
}

.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #E9F1FA;
    flex-wrap: wrap;
  }
    .box {
    /* border: 2px solid black; */
    height: 400px;
    width: 40%;
    background-color: #fff;
    padding: 20px 0px 15px;
    margin-top: 15px;
    margin-left: 2%;
    }
    .box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    }

    .box-content{
      margin-left: 1rem;
      margin-right: 1rem;

    }
    .box-content p{
      color:  black;
    }

.content h1{
    color:black;
    padding-top:60px;
    text-align: center;
    padding-bottom: 20px;
}